[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agno = "*"
openai = "*"
fastapi = {extras = ["standard"], version = "*"}
ollama = "*"
sqlalchemy = "*"
duckduckgo-search = "*"
pandas = "*"
duckdb = "*"
python-dotenv = "*"
pgvector = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
